backup/metadata/flows/Enquiry_On_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Home_Manager</name>
        <label>Alert Home Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPostCopy</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Run_DocGen_Package_Action_1</name>
        <label>Run DocGen Package Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Loop__RunDocGenAsync</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Action_Plan</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ddpId</name>
            <value>
                <stringValue>a0NKZ000002vQ6c2AE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>deliveryOptionId</name>
            <value>
                <stringValue>a0LKZ000000vZtR2AU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Loop__RunDocGenAsync</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Create_ATM</name>
        <label>Create ATM?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Stage_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_APT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Action_Plan</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>y</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Update</name>
        <label>Stage Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admission_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5. Admission Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_DocGen_Package_Action_1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Admission Confirmed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>admissionName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Resident__r.FirstName}&amp;&quot; &quot;&amp;{!$Record.Resident__r.LastName}&amp;&quot; - &quot;&amp;&quot;Admission Action Plan&quot;</expression>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY({!$Record.Respite_Start_Date__c}))&amp;&quot;/&quot;&amp;
TEXT(MONTH({!$Record.Respite_Start_Date__c}))&amp;&quot;/&quot;&amp;
TEXT(YEAR({!$Record.Respite_Start_Date__c}))</expression>
    </formulas>
    <interviewLabel>Enquiry - On Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enquiry - On Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Action_Plan</name>
        <label>Copy 1 of Create Action Plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <stringValue>0PTKZ000000pUYP4A2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>admissionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordCreationType</field>
            <value>
                <stringValue>Autocreated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.Respite_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Action_Plan</name>
        <label>Create Action Plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Alert_Home_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <stringValue>0PTKZ000000pUYF4A2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>admissionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordCreationType</field>
            <value>
                <stringValue>Autocreated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.Respite_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_ATM</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterPostCopy</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[005KZ000002sMAV] - {!$Record.Resident__r.FirstName} {!$Record.Resident__r.LastName} is due to move in to Fernhill on {!StartDate}. Please inform the home team, and take note of any tasks to assign and complete on this action plan:
https://gl1767804524676.lightning.force.com/lightning/r/ActionPlan/{!Create_Action_Plan.Id}/view</text>
    </textTemplates>
</Flow>
